/* The SCSS or CSS you write in this file will be merged with all the other files you reference when deploying */

@import "reset";

@media only screen and (max-width: 768px){
  html,
  body{
  width:100%;
  overflow-x:hidden;
  }
}

.ScreenReaders { clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; width: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; }
.ScreenReaders:focus { clip: none; height: auto; width: auto; margin: initial; position: static; }

html { font-family: Helvetica, Arial, sans-serif; font-size: 16px; line-height: 1.5em; }





.home { display: block; min-height: 100vh; overflow: hidden; }
  .header { display: flex; justify-content: flex-end; align-items: center; padding: 0.5rem; position: relative; }
      .headerLink { display: block; color: rgba(0,0,0,0.87); text-decoration: none; padding-left: 1rem; font-size: 13px;
        @media (max-width: 767px) { color: #70757a; display: block; -webkit-box-flex: 0; flex: 0 0 auto; flex: 0 0 auto; font-size: 12px; font-weight: 600; line-height: 48px; margin-right: 8px; padding: 0 8px; text-transform: uppercase; text-decoration: none; }
        &:hover { text-decoration: underline; }
        &:nth-child(2) { @media (max-width: 767px) { flex: auto; } 
  }
      }
        #imagesLink { padding-right: 1rem; }
      .googleAppsTriggerButton { display: block; padding: 0.5rem; margin: 0.2rem; background: transparent; border: none; appearance: none; cursor: pointer; 
        &:hover { background-color: #f0f0f0; border-radius: 2rem; }
        &.active { background-color: #d9dadb; border-radius: 2rem;}
      }
      .googleAppsTriggerButton img { display: block; }
      .signInButton { display: block; font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif; font-size: 0.875rem; margin: 0 0.5rem; padding: 0.5rem 1.5rem; text-decoration: none; color: #fff; background: #1a73e8; border: 1px solid transparent; line-height: 1rem; border-radius: 0.25rem; cursor: pointer; }
      .googleAppsMenu { display: none; position: absolute; background: #fff; top: 4rem; right: 1rem; overflow-x: hidden; border: 1px solid rgba(0,0,0,0.2); border-radius: 8px; box-shadow: 0px 1px 2px 0px rgba(60,64,67,.30),0px 2px 6px 2px rgba(60,64,67,.15); z-index: 1;
        &::-webkit-scrollbar { width: 1rem; }
        &::-webkit-scrollbar-thumb {
          background: #dadce0; background-clip: padding-box; border: 4px solid transparent; border-radius: 8px; box-shadow: none; min-height: 50px;
        }
      }  
      .googleAppsMenu.active { display: block; }
        .googleAppsList { margin: 0; box-sizing: content-box; list-style-type: none;  width: 17.75rem; height: 27rem; padding: 0.625rem 0 0 0.875rem; }
          .googleAppsItem { display: inline-block; width: 5.25rem; text-align: center; height: 5.25rem; padding: 6px 3px; position: relative; vertical-align: top;}
            .divideList { display: block; border-bottom: 1px solid #e8eaed; margin-top: 1rem; margin-bottom: 1rem; }
            .googleAppsLink { display: block; text-decoration: none; width: 5.25rem; border-radius: 0.5rem;
              &:hover { background-color: #e8f0fe; }
               }
              .googleAppsIconContainer { height: 3.875rem; transform: scale(calc(5/6));}
                .googleAppsIcon { background-image: url(../images/icons.png); background-size: 64px 3100px; display: inline-block; width: 64px; height: 64px; }
              .googleAppsIconDescription {display: block; width: 4.75rem; margin: auto; color: #202124; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 0.875rem;}
          .googleAppsListMore { text-align: center;}
            .moreFromGoogle { display: inline-block; background-color: #fff; border: 1px solid #dadce0; border-radius: 0.25rem; color: #1a73e8; font: 500 0.875rem/1rem 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif; margin: 2rem 0 1.25rem 0; padding: 10px 24px; text-decoration: none; }  
  .main { display: flex; flex-direction: column; align-items: center; /* margin-top: 17%; */ height: 288px;
    @media (max-width: 767px) { height: 140px; } 
  }  
    .logo { max-height: 92px; height: 100%; margin-top: auto; }
  .search { display: flex; flex-direction: column; align-items: center; margin-top: 26px;
    @media (max-width: 767px) { margin-top: -10px; }
  }
    .bar { width: 100%; max-width: 575px; position: relative; border: 1px solid #dfe1e5; border-radius: 24px; box-shadow: none; text-align: center; margin-bottom: 3px; 
      &:hover { box-shadow: 1px 1px 8px 1px #dcdcdc; }
      &:focus-within { box-shadow: 1px 1px 8px 1px #dcdcdc; }
      @media (max-width: 767px) { width: 95%;  }
    }
      .searchSvg { position: absolute; top: 13px; left: 14px; 
        @media (max-width: 767px) { top: 9px; left: 14px; }
      }
      .searchBar { width: 100%; max-width: 500px; height: 44px; font-size: 16px; border: none; outline: none; padding: 0 0 0 10px; background: transparent;
        @media (max-width: 767px) { height: 36px; }
        @media (max-width: 600px) { max-width: 75vw;}
      }
      .voiceSvg { position: absolute; top: 9px; right: 14px;
        @media (max-width: 767px) { display: none; }
      }
    .buttons { margin-top: 15px; margin-bottom: 14px; 
      @media (max-width: 1024px) { display: none; }
    }  
      .button { background-color: #f8f9fa; border: 1px solid #f8f9fa; border-radius: 4px; color: #3c4043; font-size: 14px; margin: 11px 4px; padding: 0 16px; line-height: 27px; height: 36px; cursor: pointer; 
        &:hover { box-shadow: 0 1px 1px rgba(0,0,0,.1); background-color: #f8f9fa; border: 1px solid #dadce0; color: #202124; }
        &:focus { border: 1px solid #4285f4; outline: none; }
      }
    .language { font-size: 13px; color: #3c4043; 
      @media (max-width: 1024px) { margin-top: 20px; }
    }
      .languageLink { font-size: 13px; text-decoration: none; color: #1a0dab; padding: 3px;
        &:hover { text-decoration: underline; }
        @media (max-width: 1024px) { padding: 0 10px; }
      }  
  .footer { display: flex; flex-direction: column; justify-content: center; background: #f2f2f2; position: fixed; width: 100%; bottom: 0; font-size: 14px;}
      .footerTop { padding: 10px 30px; border-bottom: 1px solid #dadce0; font-size: 15px; color: #70757a;
        @media (max-width: 767px) { padding: 10px 10px;}
      }
      .footerBottom { display: flex; justify-content: space-evenly; padding: 0 20px; flex-wrap: wrap; overflow: auto;
        @media (min-width: 1200px) { justify-content: space-between; }
      }
        .footerBottomList { display: flex; list-style: none; padding: 0; }
          .footerBottomItem { display: block; 
            &:first-child { @media (max-width: 390px)  { padding-left: 30px;}
            }
            &:first-child { @media (max-width: 350px)  { padding-left: 50px;}
            }
          }
            .footerBottomLink { padding: 15px; color: #70757a; text-decoration: none; white-space: nowrap; 
            &:hover { text-decoration: underline; }
            }


               
               



